{% extends "layout.html" %}

{% block body %}
<p>
    <b>Kirjan nimi:</b>
</p>
<p>
    {{ book.name }}
</p>

{% if list_authors is defined %}
{% for book in list_authors %}

<p>
    <b>Kirjailija:</b>
</p>
<p>
    {{ book.name }}
</p>

{% endfor %}
{% endif %}
<p>
    <b>Julkaisuvuosi:</b>
</p>
<p>
    {{ book.published }}
</p>
<p>
    <b>Tarkempi kuvaus / juonitiivistelmä:</b>
</p>
<p>
    {{ book.desc }}
</p>
<table>
    <tr>
        <td>
            <a href="{{ url_for('books_index') }}">
                <input type="button" value="Palaa"/>
              </a>
        </td>
        {% if current_user.is_admin() %}
        <td>
            <form method="GET" action="{{ url_for('books_modify', book_id=book.id) }}">
                <input type="submit" value="Muokkaa"/>
        </td>
        {% endif %}
    </tr>
</table>

{% endblock %}