{% extends "layout.html" %}

{% block body %}
<p>
    <b>Kirjan nimi:</b>
</p>
<p>
    {{ book.name }}
</p>

{% if list_authors is defined %}
{% for book in list_authors %}

<p>
    <b>Kirjailija:</b>
</p>
<p>
    {{ book.name }}
</p>

{% endfor %}
{% endif %}

<p>
    <b>Julkaisuvuosi:</b>
</p>
<p>
    {{ book.published }}
</p>
<p>
    <b>Kuvaus / juonitiivistelmä:</b>
</p>
<p>
    {{ book.desc }}
</p>
<p>
    <b>Hyllyssä:</b> {{ book.count }} kpl
</p>

{% if current_user.is_admin() %}
    {% if loans_count is defined %}
    {% for loan in loans_count %}

    <p>
        <b>Lainassa:</b> {{ loan.count }} kpl
    </p>

    {% endfor %}
    {% endif %}

    {% if not_deleted_count is defined %}
    {% for loan in not_deleted_count %}

    <p>
        <b>Palautettu:</b> {{ loan.notdeleted }} kpl
        <br>
        (Kirja on palautettu, mutta sitä ei ole poistettu käyttäjän lainalistalta.)
    </p>

    {% endfor %}
    {% endif %}
{% endif %}

<table>
    <tr>
        <td>
            <a href="{{ url_for('books_index') }}">
                <input type="button" value="Palaa"/>
              </a>
        </td>
        {% if current_user.is_admin() %}
        <td>
            <form method="GET" action="{{ url_for('books_modify', book_id=book.id) }}">
                <input type="submit" value="Muokkaa"/>
        </td>
        {% endif %}
    </tr>
</table>

{% endblock %}