{% extends "layout.html" %}

{% block body %}
  <table cellspacing="2">
    <tr>
      <th width="250" align="left">Kirjan nimi</th>
      <th width="250" align="left">Kirjailija</th>
      <th width="150" align="left">Julkaisuvuosi</th>
      <th width="150" alight="left">Lukumäärä</th>
      <th></th>
    </tr>
    {% for book in books %}
    <tr>
      <td>{{ book.name }}</td>
      {% if list_authors is defined %}
      <td>
        <ul>
          {% for book in list_authors %}
          <li>
            {{book.author}}
          </li>
          {% endfor %}
        </ul>
      </td>
      {% else %}
      <td>{{ book.author }}</td>
      {% endif %}
      <td align="left">{{ book.published }}</td>
      <td>{{ book.count }}</td>
      {% if current_user.is_admin() %}
      <td>
        <form method="GET" action="{{ url_for('books_delete', book_id=book.id) }}">
          <input type="submit" value="Poista"/>
        </form>
      </td>
      {% else %}
      <td>
        <form method="GET" action="{{ url_for('books_loan', book_id=book.id) }}">
          <input type="submit" value="Lainaa"/>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}
