{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('books_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.author.label }}
      </td>
      <td>
        {{ form.author }}
      </td>
      <td>
        <ul>
          {% for error in form.author.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.published.label }}
      </td>
      <td>
        {{ form.published }}
      </td>
      <td>
        <ul>
          {% for error in form.published.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.count.label }}
      </td>
      <td>
        {{ form.count }}
      </td>
      <td>
        <ul>
          {% for error in form.count.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.desc.label }}
      </td>
      <td>
        {{ form.desc(style="resize:none", cols="50", rows="10") }}
      </td>
      <td>
        <ul>
          {% for error in form.desc.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Lisää uusi kirja"/>
      </td>
    </tr>  
</form>
{% endblock %}

