{% extends "layout.html" %}

{% block body %}
{% if not current_user.is_authenticated %}
  <p>
    Tervetuloa käyttämään lainausjärjestelmää!
  </p>
  <p>
    Ole hyvä ja kirjaudu sisään.
  </p>
  <p>
    <u>Käyttäjä</u>: Mikäli et ole vielä rekisteröitynyt, ole hyvä ja suorita rekisteröinti ensin.
  </p>
  <p>
    <u>Ylläpitäjä</u>: Kirjaudu sisään ohjeistuksessa annetuilla ylläpitäjätunnuksilla.
  </p>
{% endif %}

{% if current_user.is_authenticated %}
  {% if current_user.is_admin() %}
    <p>
      Lainausjärjestelmän ylläpitäjänä sinulla on CRUD-toiminnallisuus kahteen tietokantatauluun.
    </p>
    <p>  
      Voit tarkastella kirjaston kirjalistaa, <b>lukea</b> kirjojen tietoja ja <b>muokata</b> niitä.
      Voit <b>luoda</b> uusia kirjoja tietokantaan, ja <b>poistaa</b> kirjoja valikoimasta (mikäli niihin ei kohdistu lainoja).
    </p>
    <p>
      Kirjojen tiedot -sivulta näet kunkin kirjan tämänhetkisen laina- ja palautustilanteen.
    </p>
    <p>
      Voit myös <b>luoda</b>, <b>lukea</b>, <b>muunnella</b> ja <b>poistaa</b> lainausjärjestelmän käyttäjiä ja heidän tietojaan.
      Käyttäjän voi tällä hetkellä poistaa ainoastaan, mikäli tällä ei ole aktiivisia lainoja tai poistamatta olevia palautettuja kirjoja. 
      Tätä toiminnallisuutta on mahdollista muokata/täydentää tarvittaessa myöhemmin.
    </p>
    <p>
      Tämän sivun lopussa on lisäksi kooste kunkin käyttäjän lainassa olevien kirjojen määristä, mikäli heillä on voimassaolevia lainoja.
    </p>
    <p>
      <b><u>Seuraavilla käyttäjillä on tällä hetkellä kirjoja lainassa</u>:</b>
    </p>

    {% if has_loans is defined %}
    <ul>
      {% for user in has_loans %}
      <li>
        <b>{{user.name}}</b>, {{user.loans}} kpl
      </li>
      {% endfor %}
    </ul>
    {% endif %}

  {% else %}
    <p>
      Lainausjärjestelmän käyttäjänä voit tarkastella omia lainojasi sekä kirjastossa olevia kirjoja ja niiden tietoja.
    </p>
    <p>
      Voit lainata kirjoja kirjalistalta, merkitä lainat palautetuiksi, poistaa palautetut lainat lainalistastasi, sekä muokata omia käyttäjätietojasi.
    </p>   
  {% endif %}
{% endif %}

{% endblock %}
