{% extends "layout.html" %}

{% block body %}
{% if not current_user.is_authenticated %}
  <p>
    Tervetuloa käyttämään lainausjärjestelmää!
  </p>
  <p>
    Ole hyvä ja kirjaudu sisään.
    Mikäli et ole vielä rekisteröitynyt, ole hyvä ja suorita rekisteröinti ensin.
  </p>
{% endif %}
  {% if current_user.is_authenticated %}
    {% if current_user.is_admin() %}
      <p>
        Lainausjärjestelmän ylläpitäjänä voit tarkastella kirjaston kirjalistaa, <b>lukea</b> kirjojen tietoja ja <b>muokata</b> niitä.
      </p>
      <p>
        Kirjojen tiedoista näet kirjojen tämänhetkisen laina- ja palautustilanteen. Tällä sivulla on lisäksi kooste kunkin käyttäjän lainassa
        olevien kirjojen määristä, mikäli heillä on voimassaolevia lainoja.
      </p>
        Voit myös <b>luoda</b> uusia kirjoja tietokantaan, ja <b>poistaa</b> kirjoja valikoimasta (mikäli niihin ei kohdistu lainoja).
      </p>

      {% if has_loans is defined %}
      <p>
        <b><u>Seuraavilla käyttäjillä on tällä hetkellä kirjoja lainassa:</u></b>
      </p>

      <ul>
        {% for user in has_loans %}
        <li>
          <b>{{user.name}}</b>, {{user.loans}} kpl
        </li>
        {% endfor %}
      </ul>
      {% endif %}

    {% else %}
      <p>
        Tämän lainausjärjestelmän käyttäjänä voit tarkastella kirjastossa olevia kirjoja ja niiden tietoja, tehdä lainoja, sekä muokata omia tietojasi.
      </p>   
    {% endif %}
  {% endif %}

{% endblock %}
