{% extends "layout.html" %}

{% block body %}
  <table cellspacing="2">
    <tr>
      <th width="200" align="left">Lainattu kirja</th>
      <th width="180">Palautettu</th>
      <th></th>
    </tr>
    {% for laina in lainat %}
    <tr>
      <td>{{ laina.name }}</td>
      <td align="center">{{ laina.done }}</td>
      <td>
        <form method="POST" action="{{ url_for('lainat_set_done', laina_id=laina.id) }}">
          <input type="submit" value="Palauta"/>
        </form>
      </td>
      <td>
        <form method="GET" action="{{ url_for('lainat_delete', laina_id=laina.id) }}">
          <input type="submit" value="Poista"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
