{% extends "layout.html" %}

{% block body %}
  <table cellspacing="2">
    <tr>
      <th width="250">Kirja</th>
      <th width="200">Eräpäivä</th>
      <th width="150">Palautettu</th>
    </tr>
    {% for loan in loans %}
    <tr>
      <td>{{ loan.name }}</td>
      <td>{{ loan.due_date }}</td>
      <td align="left">{{ loan.returned }}</td>
      <td>
        <form method="POST" action="{{ url_for('loans_set_returned', loan_id=loan.id) }}">
          <input type="submit" value="Palauta"/>
        </form>
      </td>
      <td>
        <form method="GET" action="{{ url_for('loans_delete', loan_id=loan.id) }}">
          <input type="submit" value="Poista palautettu laina"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
